/*  your css code here. If applicable */
#line{
	width: 200px;
	height : 2px;
	color : black;
/* 	transform :rotate(160deg); */
	margin-top : 50%;
	margin-left : 50%;
	posistion : absolute;
	background-color : black;
}