/*  your css code here. If applicable */
#line{
	width: 200px;
	height : 2px;
	color : black;
	transform :translate(-50%,-50%);
	margin-top : 50%;
	margin-left : 50%;
	posistion : absolute;
	background-color : black;
}